<?xml version="1.0"?>
<!-- This is a hand-made URDF XACRO file for the Microsoft Kinect-2 sensor (Xbox ONE) -->
<!-- Copyright Universitaet Bremen - Instititute for Artificial Intelligence. Author: Alexis Maldonado -->
<!-- License: GPLv3+ -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kinect2">

  <xacro:property name="kinect_v2_cam_px" value="0.0975"/>
  <xacro:property name="kinect_v2_cam_py" value="0.01" />
  <xacro:property name="kinect_v2_cam_pz" value="0.15" />

  <!-- This is the tilt across the horizontal when looking straight at the camera. Probably important, but hard to see if it is. -->
  <xacro:property name="cam_or" value="0" />
  <!-- This is the tilt causing the camera to look "up" or "down". -->
  <xacro:property name="cam_op" value="0" />
  <!-- This is the rotation of the camera -->
  <!-- Test this by setting the robot's axles exactly 1 meter from a wall, start up RVIZ with the robot at 0,0,0 on the grid, -->
  <!-- and see if the wall lines up straight with the grid line. -->
  <xacro:property name="cam_oy" value="0" />

  <xacro:macro name="sensor_kinect_v2" params="parent">

    <material name="Kinect2Grey">
      <color rgba="0.15 0.15 0.15 1.0"/>
    </material>


    <!-- Joint connecting the parent to our frame_in -->
    <joint name="kinect2_in_joint" type="fixed">
      <origin xyz="0 0 0.035" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${parent}"/>
      <child link="kinect2_link"/>
    </joint>

    <link name="kinect2_link">
      <visual>
        <origin rpy="0 0 0" xyz="${kinect_v2_cam_px} ${kinect_v2_cam_py} ${kinect_v2_cam_pz}"/>
        <geometry>
          <!-- these meshes were exported in mm, so scale back to m -->
          <mesh filename="package://eddiebot_description/meshes/sensors/kinect2_origin_on_rgb_optical_frame.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Kinect2Grey"/>
      </visual>

      <collision>
        <origin rpy="0 0 0" xyz="${kinect_v2_cam_px} ${kinect_v2_cam_py} ${kinect_v2_cam_pz}"/>
        <!-- <origin xyz="0 0 0" rpy="0 0 0" /> -->
        <geometry>
          <mesh
            filename="package://eddiebot_description/meshes/sensors/kinect2_origin_on_rgb_optical_frame.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>
</robot>