<?xml version="1.0"?>
<robot name="sensor_asus_xtion_pro" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Primesense Carmine share a same model with asus xtion pro -->
  <xacro:include filename="$(find eddiebot_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/camera_properties.urdf.xacro"/>
  
  <!-- Xacro properties -->
  <xacro:property name="M_SCALE" value="0.001"/>
  <xacro:property name="asus_xtion_pro_cam_py" value="0.0205"/>
  <xacro:property name="asus_xtion_pro_depth_rel_rgb_py" value="0.0270" />
  <!-- Camera left/right offset. Camera is actually off center in the unit, so -0.0220 makes it physically centered. -->
  <xacro:property name="asus_xtion_pro_cam_rel_rgb_py"   value="-0.0220" />
  <xacro:property name="camera_link_shift_py"   value="-0.0015" />

  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="primesense_carmine" params="parent">
    <joint name="camera_rgb_joint" type="fixed">
      <origin xyz="${cam_px} ${camera_link_shift_py} ${cam_pz}"
              rpy="${cam_or} ${cam_op} ${cam_oy}"/>
      <parent link="${parent}"/>
      <child link="camera_link" />
    </joint>
    
    <link name="camera_link">
      <visual>
        <origin xyz="-0.015 0.0035 0.004" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://eddiebot_description/meshes/sensors/xtion_pro_camera.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
        <box size="0.0 0.0 0.0"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.170" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001152600" ixy="0.0" ixz="0.0"
                 iyy="0.000148934" iyz="0.0"
                 izz="0.001154654" />
      </inertial>
    </link>

    <!-- RGBD sensor for simulation, same as Kinect -->
    <turtlebot_sim_3dsensor/>

  </xacro:macro>
</robot>
