<?xml version="1.0"?>
<robot name="ultrasonic_ping_1" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- In this file we have the describtion of Ultrasonic sensor which uses
    ultrasonic sound waves to measure the distance from objects around.
    we have 6 main parameters which will be passed when an instance is being created.
    name which is the name of the ir sensor, x which is the distance on the axis of x which
    the robot is away from the `base_link`, y and z are the same. r is the roll rotation, 
    p is the pitch rotation and ya is the yaw rotation-->

    <xacro:macro name="ultrasonic_ping" params="name x y z r p ya">

        <!-- link of the ultrasonic sensor. which has informations like sensor's visual
        look and collision-->
        <link name="${name}_link">
            <xacro:inertial_cuboid mass="0.3" x="0.1778" y="0.18" z="0.0762" />
            <visual>
                <material name="material_darkgray" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.01 0.04 0.025" />
                </geometry>
            </visual>
            <collision>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                <box size="0.01 0.04 0.025" />
              </geometry>
            </collision>
        </link>

        <!-- We need joint for describtion of our sensor which is obvious in the 
        follow -->
        <joint name="${name}_joint" type="fixed">
          <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${ya}" />
          <parent link="base_link" />
          <child link="${name}_link" />
        </joint>

        <!-- here we describe the sensor. its name, sample rates, the topic it 
        poblishes the informations to, resolution and etc. -->
        <gazebo reference="${name}_link">
            <sensor name='${name}' type='gpu_lidar'>

                <always_on>1</always_on>
                <update_rate>5</update_rate>
                <visualize>1</visualize>
                <topic>${name}_topic</topic>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>1</samples>
                            <resolution>1</resolution>
                            <min_angle>0</min_angle>
                            <max_angle>0</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.08</min>
                        <max>4</max>
                        <resolution>0.02</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.1</mean>
                        <stddev>0.005</stddev>
                    </noise>
                </ray>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>
