<?xml version="1.0"?>
<robot name="eddiebot" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- From $(find turtlebot_description)/urdf/common_properties.urdf.xacro -->
  <!-- It is required by asus_xtion_pro.urdf.xacro (primesense carmine)-->
  <xacro:property name="M_PI" value="3.1415926535897931" /> 

  <!-- eddiebot base -->
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/create_base.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/circle_stack.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/camera_stand.urdf.xacro"/>

  <!-- Kinect Sensor -->
  <xacro:include filename="$(find eddiebot_description)/urdf/sensors/kinect_v2.urdf.xacro"/>

  <!-- Hokuyo LiDar Sensor -->
  <xacro:include filename="$(find eddiebot_description)/urdf/sensors/hokuyo_lidar.urdf.xacro"/>

  <create_base/>
  <circle_stack parent="base_link"/>
  <camera_stand parent="plate_0_link"/>
  <sensor_kinect_v2 parent="base_link" />
  <hokuyo_laser xyz="0.17 0.0 0.025" rpy="0.0 0.0 0.0" parent="plate_0_link" />
</robot>
