<?xml version="1.0"?>
<robot name="eddiebot" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/create_base.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/circle_stack.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/camera_stand.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/sensors/kinect_v1.urdf.xacro"/>

  <!-- eddiebot -->
  <xacro:create_base/>
  <xacro:circle_stack parent="base_link"/>
  <xacro:camera_stand parent="plate_0_link"/>
  <xacro:sensor_kinect parent="camera_mount_link"/>

</robot>
