<?xml version="1.0"?>
<robot name="eddiebot" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- From $(find turtlebot_description)/urdf/common_properties.urdf.xacro -->
  <!-- It is required by asus_xtion_pro.urdf.xacro (primesense carmine)-->
  <xacro:property name="M_PI" value="3.1415926535897931" /> 

  <!-- eddiebot base -->
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/create_base.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/circle_stack.urdf.xacro"/>
  <xacro:include filename="$(find eddiebot_description)/urdf/stacks/camera_stand.urdf.xacro"/>

  <!-- Kinect Sensor -->
  <xacro:include filename="$(find eddiebot_description)/urdf/sensors/kinect_v1.urdf.xacro"/>

  <xacro:create_base/>
  <xacro:circle_stack parent="base_link"/>
  <xacro:camera_stand parent="plate_0_link"/>
  <xacro:sensor_kinect parent="camera_mount_link"/>
</robot>
